:root {
  --body-bg: #f1f5f9;
  --box-bg: #FFF;
  --text-color: #111;
  --hover-color: #f1f5f9;
}

:has(.mode input[type="checkbox"]:not(:checked)) {
  --body-bg: #111;
  --box-bg: #000;
  --text-color: #fff;
  --hover-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}

::-webkit-scrollbar-track {
  background-color: var(--hover-color)
}

/* Start Components */

.circle-container .circle {
  width: 50px;
  height: 50px;
  content: attr(data-progress);
  border-radius: 50%;
  background-color: var(--box-bg);
  position: relative;
}

.circle-container,
.circle-container .circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container .circle::before {
  content: attr(data-progress);
  position: absolute;
  font-size: 13px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked+.slider {
  background-color: #522ba7;
}

input:checked+.slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* End Components */

body {
  font-family: system-ui;
  overflow-x: hidden;
}

main {
  background-color: var(--body-bg);
  min-height: 100vh;
  display: flex;
}

main aside {
  padding: 25px;
  background-color: var(--box-bg);
  width: 200px;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

main aside h2.logo a {
  color: #0075ff;
  display: block;
  margin-bottom: 50px;
}

@media(max-width: 767px) {
  main aside h2.logo {
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
  }
}

main aside ul li a {
  color: var(--text-color);
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .3s;
}

main aside ul li :is(a.active, a:hover) {
  background-color: var(--hover-color);
}

@media (max-width: 767px) {
  main aside {
    width: 60px;
    padding: 10px;
  }

  main aside li a {
    justify-content: center;
  }

  main aside li a span {
    display: none !important;
  }
}

main aside ul hr {
  margin-top: 30px;
}

/* Content */


section.content {
  width: 100%;
  padding: 20px;
  color: var(--text-color);
}

section.content header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

section header :is(.left, .right) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

section header .left .date {
  background-color: var(--box-bg);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 7px;
}

@media(max-width: 767px) {
  section header .left .date {
    font-size: 12px;
  }
}

section header .user {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  font-size: 15px;
}

section header .user img {
  width: 35px;
}



section .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

@media (max-width: 650px) {
  section .boxes {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

section .boxes .box {
  background-color: var(--box-bg);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

section .boxes .box>span {
  color: #888;
}

section .boxes .box h4 {
  letter-spacing: 1px;
  color: var(--text-color);
}

section .boxes .box h4.head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


section .boxes .box h3 {
  font-size: 35px;
}


@media (min-width: 650px) {
  section .boxes .box.span-row-2 {
    grid-row: span 2;
  }

  section .boxes .box.span-column-2 {
    grid-column: span 2;
  }
}


section .box .chart {
  width: 100%;
}


section .box .chart canvas {
  width: 100% !important;
  max-width: 100% !important;
}

@media (max-width: 475px) {
  section .box .chart canvas {
    width: 100% !important;
    height: 200px !important;
  }
}

.circle-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: conic-gradient(#0075ff 70%, var(--hover-color) 0deg);
}

.box.paid .circle-container {
  background-image: conic-gradient(#0075ff 70%, var(--hover-color) 0deg);
}

.box.funds .circle-container {
  background-image: conic-gradient(orangered 84%, var(--hover-color) 0deg);
}

.box.customers-order {
  grid-row: span 3 !important;
}

.box.customers-order .responsive-table {
  overflow-x: scroll;
  width: 100%;
}

.box.customers-order table {
  border-spacing: 0;
  color: var(--text-color);
  border: 1px solid var(--hover-color);
  min-width: 480px;
  margin: auto;
}

.box.customers-order table thead tr {
  background-color: var(--hover-color);
}

.box.customers-order table tr {
  transition: .3s;
}

.box.customers-order table :is(tr.delivered:hover, .delivered span.status) {
  background-color: rgba(5, 180, 5, 0.699);
}

.box.customers-order table :is(tr.processed:hover, .processed span.status) {
  background-color: rgba(255, 175, 3, 0.699);
}

.box.customers-order table :is(tr.canceled:hover, .canceled span.status) {
  background-color: rgba(235, 10, 10, 0.699);
}

.box.customers-order table th {
  padding: 10px 5px;
}

.box.customers-order table td {
  padding: 10px 5px;
  text-align: center;
}

.box.customers-order table td .status {
  display: block;
  border-radius: 6px;
  width: fit-content;
  padding: 5px;
}

.box.customers-order table td.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.box.customers-order table td.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}